.error{
    background-color: red;
    color: $blanco;
    margin: 1rem 0 1rem 0;
    padding: 1.5rem;
}
.exito{
    background-color: $verde;
    color: $blanco;
    margin: 1rem 0 1rem 0;
    padding: 1.5rem; 
}