.testimonial{
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color:$blanco;

    blockquote{
        padding-left: 5rem;
        &::before{
            content:'';
            background-image: url(../img/comilla.svg);
        }
    }
}